<div class="shifted-content-2 h-100 p-ab">
    <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
      <h3 class="col-12" style="color: white;">Información</h3>
    </div>
    <div class="h-100 p-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info">
            <span class="fa fa-sync"></span>
          </button>
          <button type="button" class="btn btn-primary">
              <span class="fa fa-file"></span>
          </button>
        </div>
        <div class="col-12 mt-2">
          <table class="table">
            <thead>
              <tr>
                  <th></th>
                  <th>Identificación</th>
                  <th>Nombre Completo</th>
                  <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>
                    <span class="fa fa-hand-point-right"></span>
                  </td>
                  <td>Tiger Nixon</td>
                  <td>Edinburgh</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-warning">
                          <span class="fa fa-edit"></span>
                      </button>
                      <button type="button" class="btn btn-danger">
                          <span class="fa fa-trash-alt"></span>
                      </button>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
