<div class="shifted-content-2 h-100 p-ab">
    <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
      <h3 class="col-12" style="color: white;">Información</h3>
    </div>
    <div class="h-100 p-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" (click)="getPersonas()" class="btn btn-info">
            <span class="fa fa-sync"></span>
          </button>
          <button type="button" (click)="open(content, 'nuevo')" class="btn btn-primary">
              <span class="fa fa-file"></span>
          </button>
          <button type="button" (click)="obtenerHora()" class="btn btn-success">
              <span class="fa fa-clock"></span>
          </button>
        </div>
        <div class="col-12 mt-2">
          <table class="table">
            <thead>
              <tr>
                  <th></th>
                  <th>Identificación</th>
                  <th>Nombre Completo</th>
                  <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personas" (click)="seleccionar(persona)">
                  <td>
                    <span class="fa fa-hand-point-right" [hidden]="!estaSeleccionado(persona)"></span>
                  </td>
                  <td>{{persona.identificacion}}</td>
                  <td>{{persona.apellido1}} {{persona.apellido2}} {{persona.nombre1}} {{persona.nombre2}}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" (click)="open(content, 'edit')" class="btn btn-warning">
                          <span class="fa fa-edit"></span>
                      </button>
                      <button type="button" class="btn btn-danger">
                          <span class="fa fa-trash-alt" (click)="deletePersona(persona)"></span>
                      </button>
                    </div>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      Contacto:
      <button type="button" class="close" (click)="d('Cross click')">
          <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <input [hidden]="true" type="file" id="foto" #fileInput
            (change)="CodificarArchivo($event)" accept="image/*">
            <img (click)="fileInput.click()" src="{{fotoPersonaModal.mostrar}}" class="rounded-circle col-12">
            <input type="text" data-role="materialinput"
                data-label="Identificación"
                placeholder="Identificación" [(ngModel)]="personaModal.identificacion">

            <div class="col-12">
                <select [(ngModel)]="personaModal.idGenero">
                    <optgroup label="Géneros">
                        <option value="0">Seleccione un Género...</option>
                        <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.descripcion}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-4">

        </div>
      </div>
      <div class="row">
        <div class="col-3">
            <input type="text" data-role="materialinput"
                data-label="Primer Nombre"
                placeholder="Primer Nombre" [(ngModel)]="personaModal.nombre1">
        </div>
        <div class="col-3">
            <input type="text" data-role="materialinput"
                data-label="Segundo Nombre"
                placeholder="Segundo Nombre" [(ngModel)]="personaModal.nombre2">
        </div>
        <div class="col-3">
            <input type="text" data-role="materialinput"
                data-label="Primer Apellido"
                placeholder="Primer Apellido" [(ngModel)]="personaModal.apellido1">
        </div>
        <div class="col-3">
            <input type="text" data-role="materialinput"
                data-label="Segundo Apellido"
                placeholder="Segundo Apellido" [(ngModel)]="personaModal.apellido2">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <input type="text" data-role="materialinput"
                data-label="Teléfono Celular"
                placeholder="Teléfono Celular" [(ngModel)]="personaModal.telefonoCelular">
        </div>
        <div class="col-6">
            <input type="text" data-role="materialinput"
                data-label="Teléfono Domicilio"
                placeholder="Teléfono Domicilio" [(ngModel)]="personaModal.telefonoDomicilio">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <input type="email" data-role="materialinput"
                data-label="Correo Electrónico"
                placeholder="Correo Electrónico" [(ngModel)]="personaModal.correoElectronicoInstitucional">
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="c('cancel')">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="c('ok')">Aceptar</button>
    </div>
</ng-template>
